@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*  font-family: "Fira Sans", serif; */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
/* First Section */
nav{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}
header{
    margin-top: 10px;
}
body{
    font-family: Fira Sans;
    max-width: 1280px;
    margin: 0 auto;
}
.nav-btn{
    font-size: 1rem;
    padding: 18px 35px;
    font-weight: 600;
    border: 1px solid;
    color: rgba(0, 106, 80);
    border-radius: 6px;
}
.nav-btn:hover{
    font-size: 1rem;
    padding: 18px 35px;
    font-weight: 600;
    border: 1px solid;
    color: rgba(0, 106, 80);
    border-radius: 6px;
    scale:1.1
}
/* Second Section */

.second-section{
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: rgb(198, 228, 214);
}
.second-main{
    margin: 117px 60px;
}
.second-h4{
    font-size: 1.25rem;
    font-weight: 600;
    opacity: 0.6;
    margin-bottom: 20px;
}
.second-h3{
    font-size: 3.5rem;
    font-weight: 600;
    color: black;
    margin-bottom: 24px;
}
.second-img{
    width: 450px;
    height: 400px;

}
.second-btn{
    background-color:  rgb(0, 106, 80);
    color: white;
}
.second-btn:hover{
    background-color:  rgb(0, 106, 80);
    color: white;
}
/* third section */

.card{
    background-color: rgb(245, 235, 235);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto; 
    gap: 20px;
}
.card-box{
    /* height: 200px;
    width: 310px; */
    background-color: white;
    padding: 20px;
    border-radius: 10px; 
}
.card-box:hover{
    background-color: rgb(209, 233, 211);
}
.card-box h4{
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10px 0px;
}
.card-box p{
    color: black;
    font-weight: 400;
    font-size: 1rem;
    opacity: 70%;
}  
.pillar-h2{
    font-size: 2.30rem;
    font-weight: 700;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
} 